<div class="headline">
  <div class="homepage-hero-module">
    <div class="video-container">

     <div class="title-container">
        <h1><span>Tamako Takemoto & Paul Save<br /></h2>
          <br>
          <br>
        <h1 class="papyrus">Thursday, December 8th, 2016<br /></h1>
        <h4 class="text-white text-thin">in</h3>
        <h1 class="papyrus">Puerto Vallarta, Mexico</h1>
          <br>
<!--         <h4 class="text-white text-thin">Next update on July 14th.</h4> -->

<!-- Need to add if not current user piece -->
<!--         <form class="form-inline" method="POST" action="/signup">

          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
          </div>

          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword3">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
          </div>

          <button type="submit" class="btn btn-default">Login</button>
          <br>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
          
        </form> -->
      <!-- Title Container.....  add back in erb end for user -->
    </div> <!-- Video container -->

      <div class="filter"></div>

      <video autoplay loop class="fillWidth">
          <source src="/Huppa/MP4/Huppa.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
          <source src="/Huppa/Webm/Huppa.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
      </video>

      <div class="poster hidden">
          <img src="/Huppa/Snapshots/Huppa.jpg" alt="">
      </div>
      
  </div> <!-- homepage hero module -->
</div> <!-- Headline -->

<div id="schedule" class="details">
  <h1>Schedule</h1>  
  <b>December 8th </b>
  <p>4pm: Wedding
  <p>4:30 - 6:30pm: Drinks and mingling (Bride & Groom photos)
  <p>6:30pm: Reception & Dinner
  <p>Address: Real de 519, Amapas, Conchas Chinas, 48351 Puerto Vallarta, Jalisco, Mexico

  <p>A schedule is still being finalized for other activities.
</div>


<div id="location">
<h1>Location</h1>
<h3>Puerto Vallarta, Mexico</h3>
<p>Hacienda de los Santos
<p>Address: Real de 519, Amapas, Conchas Chinas, 48351 Puerto Vallarta, Jalisco, Mexico
<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3565.025645767263!2d-105.241020685198!3d20.59091198623721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84215ab71eaf1c75%3A0x2eac6b9bc982b4a7!2sHacienda+de+los+Santos!5e1!3m2!1sen!2sca!4v1464601406888" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<br>
<h4>Images of Hacienda de los Santos</h4>
<div class="row">
  <div class="col-md-4">
    <a href="https://a2.muscache.com/im/pictures/6be1efa8-634b-4cb1-8ea9-8a48f3764dd2.jpg?aki_policy=xx_large"> <img src="../images/hacienda1.jpg" class="img-responsive"></a>
  </div>
  <div class="col-md-4">
    <a href="https://a2.muscache.com/im/pictures/1ad587b0-201c-43bc-9c41-d0575f082ef0.jpg?aki_policy=x_large"> <img src="../images/hacienda2.jpg" class="img-responsive"></a>
  </div>
  <div class="col-md-4">
    <a href="https://a2.muscache.com/im/pictures/4b3a7f59-78df-4bbd-ad44-f87648271ee9.jpg?aki_policy=x_large"> <img src="../images/hacienda3.jpg" class="img-responsive"></a>
  </div>
  <div class="col-md-4">
    <a href="https://a2.muscache.com/im/pictures/c68a4fce-8469-4dbb-b225-56517ffa37ca.jpg?aki_policy=x_large"> <img src="../images/hacienda4.jpg" class="img-responsive" style="margin-top: 1em"></a>
  </div>
  <div class="col-md-4">
    <a href="https://a2.muscache.com/im/pictures/ad9dbe52-21d3-4901-818a-69e708c1511a.jpg?aki_policy=x_large"> <img src="../images/hacienda5.jpg" class="img-responsive" style="margin-top: 1em"></a>
  </div>
  <div class="col-md-4">
    <a href="https://a2.muscache.com/im/pictures/14d59927-b91d-43db-959c-659532425efd.jpg?aki_policy=x_large"> <img src="../images/hacienda6.jpg" class="img-responsive" style="margin-top: 1em"></a>
  </div>
  <div class="col-md-4">
    <a href="https://a2.muscache.com/im/pictures/6ac49228-e2dd-46e7-bb76-d356a94add91.jpg?aki_policy=x_large"> <img src="../images/hacienda7.jpg" class="img-responsive" style="margin-top: 1em"></a>
  </div>
  <div class="col-md-4">
    <a href="https://a2.muscache.com/im/pictures/7edda69f-8209-4daa-8db5-76bfcd786c1b.jpg?aki_policy=x_large"> <img src="../images/hacienda8.jpg" class="img-responsive" style="margin-top: 1em"></a>
  </div>
  <div class="col-md-4">
    <a href="https://a2.muscache.com/im/pictures/4084ce85-5809-459d-a70a-2565885e3445.jpg?aki_policy=x_large"> <img src="../images/hacienda9.jpg" class="img-responsive" style="margin-top: 1em"></a>
  </div>
  <div class="col-md-4">
    <a href="https://a2.muscache.com/im/pictures/412d9881-5218-42ba-a8c0-3f3b7d67c58d.jpg?aki_policy=x_large"> <img src="../images/hacienda10.jpg" class="img-responsive" style="margin-top: 1em"></a>
  </div>
  <div class="col-md-4">
    <a href="https://a2.muscache.com/im/pictures/557d8fcc-674d-419b-a133-984d7997360d.jpg?aki_policy=x_large"> <img src="../images/hacienda11.jpg" class="img-responsive" style="margin-top: 1em"></a>
  </div>
  <div class="col-md-4">
    <a href="https://a2.muscache.com/im/pictures/c3212453-4e3c-4f4e-b7a1-9462ddb639e6.jpg?aki_policy=x_large"> <img src="../images/hacienda12.jpg" class="img-responsive" style="margin-top: 1em"></a>
  </div>
</div>

<div id="accomodation">
<h1>Accommodation</h1>
<h3>Family</h3>
Family will be staying at Hacienda de los Santos from December 7th through December 10th. 
<h3>Guests</h3>
We recommend the following accommodations for our guests due to the trip advisor ratings and the proximity to the venue.

<table class="table table-bordered table-hover" style="margin-top:1em">
  <thead>
    <tr>
      <th>Hotel</th>
      <th>Avg non-all-inclusive rate / night</th>
      <th>Avg all-inclusive rate / night</th>
      <th>Distance to Hacienda</th>
      <th>Trip Advisor Rating</th>
      <th>On beach?</th>
      <th>Other Info</th>
    </tr>
  </thead>
  <tr>
    <td><a href="http://www.grandmiramar.com/">Grand Miramar Resort</a></td>
    <td>$121 USD</td> 
    <td>$237 USD</td>
    <td>1 min drive</td>
    <td><a href="https://www.tripadvisor.ca/Hotel_Review-g150793-d1743594-Reviews-Grand_Miramar_All_Luxury_Suites_Residences-Puerto_Vallarta.html">4.5</a></td>
    <td>No</td>
    <td>Ask about the "all inclusive B promo"</td>
  </tr>
  <tr>
    <td><a href="http://www.puertovallarta.ziva.hyatt.com/">Hyatt Ziva</a></td> 
    <td>N/A</td>
    <td>$300 USD</td>
    <td>8 min drie</td>
    <td><a href="https://www.tripadvisor.ca/Hotel_Review-g150793-d481596-Reviews-Hyatt_Ziva_Puerto_Vallarta-Puerto_Vallarta.html">4.5</a></td>
    <td>Yes</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="http://www.lindomarresort.com/">Lindo Mar Resort</a></td> </td>
    <td>$122 USD</td>
    <td> ? </td>
    <td>5 min drive</td>
    <td><a href="https://www.tripadvisor.ca/Hotel_Review-g150793-d185414-Reviews-Lindo_Mar_Resort-Puerto_Vallarta.html">4.5</a></td>
    <td>Yes</td>
    <td>Use promo code "early20"</td>
  </tr>
</table>

</div>


<div id="wedding-day" class="details"></div>
<div id="dress-code" class="details"></div>
<div id="bride-groom" class="details"></div>
<div id="how-we-met" class="details"></div>
<div id="registry" class="details"></div>