<div class="headline">
  <div class="homepage-hero-module">
    <div class="video-container">

     <div class="title-container">
        <h1><span>Tamako Takemoto & Paul Save<br /></h2>
          <br>
          <br>
        <h1 class="papyrus">Thursday, December 8th, 2016<br /></h1>
        <h4 class="text-white text-thin">in</h3>
        <h1 class="papyrus">Puerto Vallarta, Mexico</h1>
          <br>
        <h4 class="text-white text-thin">More details to follow in June.</h4>

<!-- Need to add if not current user piece -->
<!--         <form class="form-inline" method="POST" action="/signup">

          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
          </div>

          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword3">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
          </div>

          <button type="submit" class="btn btn-default">Login</button>
          <br>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
          
        </form> -->
      <!-- Title Container.....  add back in erb end for user -->
    </div> <!-- Video container -->

      <div class="filter"></div>

      <video autoplay loop class="fillWidth">
          <source src="/Huppa/MP4/Huppa.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
          <source src="/Huppa/Webm/Huppa.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
      </video>

      <div class="poster hidden">
          <img src="/Huppa/Snapshots/Huppa.jpg" alt="">
      </div>
      
  </div> <!-- homepage hero module -->
</div> <!-- Headline -->

<div id="location">
<h1>Location</h1>
<p>Hacienda de los Santos
<p>Address: Real de 519, Amapas, Conchas Chinas, 48351 Puerto Vallarta, Jalisco, Mexico
<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3565.025645767263!2d-105.241020685198!3d20.59091198623721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84215ab71eaf1c75%3A0x2eac6b9bc982b4a7!2sHacienda+de+los+Santos!5e1!3m2!1sen!2sca!4v1464601406888" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div id="accomodation">
<h1>Accomodation</h1>
<h2>Family</h2>
A villa has been rented from December 7th through December 10th for the Bride, Groom and their family. 
<h2>Guests</h2>

</div>

<div id="schedule" class="details"></div>
<div id="wedding-day" class="details"></div>
<div id="dress-code" class="details"></div>
<div id="bride-groom" class="details"></div>
<div id="how-we-met" class="details"></div>
<div id="registry" class="details"></div>