/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* -----------TOC--------------- *\
    Coverr video
    Text
    Default Image for mobile
 \* ----------------------------- */



 /* ----------------------------- *\
    Start CSS for Coverr video 
 \* ----------------------------- */

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}

.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 15%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.image { 
 position: relative; 
 width: 100%; 
}

 /* ----------------------------- *\
        End CSS for Video
 \* ----------------------------- */

 /* ----------------------------- *\
        Start CSS for Text 
 \* ----------------------------- */

.text-white{
  color: #fff !important;
  /*background-color: rgba(100,100,100,0.5);*/
  display: inline-block;
  padding: 5px;
}

.text-thin{
  font-weight: 100;
  font-size: 1.8em;
} 

h1 span {
  font-family: 'Abril Fatface';
  font-size: 1.2em;
}


h2 span { 
 color: white; 
 font-family: 'Papyrus';
/* letter-spacing: -1px;  
 background: rgb(0, 0, 0);
 background: rgba(100,100,100,0.5);*/
 padding: 10px; 
}

.papyrus {
  color: white;
  font-family: Papyrus, Sans-Serif;
  font-size: 2.5em;
}

.navbar {
  border: 0px;
  background: rgba(100,100,100,0.3);
  margin-bottom: 0px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #DDD0C3;
}


 /* ----------------------------- *\
        End CSS for Text 
 \* ----------------------------- */


 /* -------------------------------- *\
    Setting default image for mobile 
 \* -------------------------------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .video-container{
    background: url('../Huppa/Snapshots/Huppa.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    z-index: 0;
  }
  .title-container {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  }
}

video::-webkit-media-controls {
  display:none !important;
}

.details {
  margin-left: 0.5em;
}
/* Making the navbar collapsed by default */
/*.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}*/